.navbar {
    text-align: left;
    margin-bottom: 5%;

    .navbar-title {
        font-size: 24px;
        font-weight: 500;
        margin-right: 15%;
    }
    
    .navbar-item {
        font-size: 24px;
        font-weight: 300;
        margin-right: 10%;
    }
}

